.aros-container{
    width: 550px;
    height: 400px;
}
.image-description-container-uno{
    display: flex;
    margin-top: 150px;
    margin-bottom: 12px;
}

.image-description-container{
    display: flex;
    margin-bottom: 12px;
}

.description-container{
    font-size: 25px;
    margin-top: 110px;
    margin-left: 20px;
    font-style: italic
}

@media (min-width: 411px) and (max-width: 767px) {
    .aros-container{
        height: 200px;
        width: 140px;
    }
    .image-description-container-uno{
        display: flex;
        margin-top: 20px;
        margin-bottom: 12px;
    }
    .description-container{
        font-size: 15px;
        margin-top: 110px;
        margin-left: 5px;
        font-style: italic
    }
}