.gargantilla-description-container{
    display:flex;
}

.description-gargantilla{
    margin-top: 40px;
    font-style: italic;
    font-size: 30px;
}
.description-uno-gargantilla{
    margin-bottom: 50px;
}

.img-gargantilla{
    width:400px;

}

@media (min-width: 400px) and (max-width: 767px){
    .img-gargantilla{
        width: 200px;
    }
    .description-gargantilla{
        font-size: 17px;      
    }
}