.navBar-container{
  margin-top: 20px;
  margin-bottom: 80px;
  
  width: max-content;
  height: 27px;
  overflow: hidden;

}

.pestaña-container {
    font-size: 26px;
    display: block;
    color: black;
  }

.pestaña-container:hover{
  background-color: black;
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-bottom: auto;
    font-size: 20px;
    padding-right: 55px;
    padding-left: 40px;
  
  }
  