.image-container{
    margin-top: 150px;
    margin-left: 75px;

}
.pulseras-container{
    display: flex;
}
ul li {
    font-style: italic;
}
.descripcion{
    margin-top: 222px;
    margin-left: 20px;
    font-size: 30px;
}